<div class="container">
  <div class="content-top">
    <app-breadcrumb
      [path]="[
        { name: 'common.skip', call: 'swap' },
        { name: 'common.settings', call: 'settings' },
        { name: 'settings.slip', disable: true }
      ]"
      [message]="message | translate"
      (funcCaller)="breadcrumbNav($event)"
    ></app-breadcrumb>
    <div class="top-right"></div>
  </div>
  <div>
    <div mat-dialog-content>
      <app-text-field
        [placeHolder]="[tolerance]"
        selectedType="Number"
        [label]="'common.percentage' | translate"
        [(textOfField)]="customTolerance"
        name="custom-tolerance"
      ></app-text-field>
    </div>

    <!-- close dialog -->
    <div class="bottom-actions two-btn">
      <div class="left-btn">
        <button class="close-btn" (click)="closeButton()">
          <span>{{ 'common.cancel' | translate }}</span>
        </button>
      </div>
      <div class="divider"></div>
      <div class="right-btn">
        <button
          class="next-btn"
          [disabled]="
            tolerance == customTolerance ||
            !customTolerance ||
            !(customTolerance <= 100 && customTolerance > 0)
          "
          (click)="setSlippage()"
        >
          <span>{{ 'common.save' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
