<div class="container-wrapper">
  <div class="container">
    <!-- <div class="outline-btn" style="margin-bottom: 32px;">
      <h1>Keystore Found</h1>
    </div> -->

    <div class="dialog-content">
      <div class="content-top">
        <app-breadcrumb
          [path]="[
            { name: 'common.skip', call: 'skip' },
            { name: 'common.connect', call: 'connect' },
            { name: 'common.keystoreFound', disable: true }
          ]"
          [isError]="keystoreError"
          [message]="
            keystoreError
              ? ('breadcrumb.incorrectPass' | translate) 
              : keystoreConnecting
              ? ('breadcrumb.connecting' | translate) 
              : ('breadcrumb.enterPassOrForget' | translate) 
          "
          (funcCaller)="breadcrumbNav($event)"
        ></app-breadcrumb>
        <!-- <div class="top-right">
          <app-right-option></app-right-option>
        </div> -->
      </div>

      <div mat-dialog-content>
        <!-- <button style="cursor: auto; text-transform: uppercase; padding: 10px; background-color: var(--primary-default); color: #000" class="uni-input uni-input--file" [disabled]="true">
          <span>Reconnect from previous session?</span>
        </button> -->
        <app-notice
          style="text-transform: uppercase"
          [isTag]="false"
          [isCenter]="true"
        >
          <div text [innerHTML]="'connect.reconnectKeystore' | translate"></div>
        </app-notice>

        <div>
          <app-arrow></app-arrow>
        </div>

        <app-text-field
          [(textOfField)]="keystorePassword"
          mode="Single"
          selectedType="Password"
          [label]="'common.password' | translate"
          name="keystore-password"
          (keyup.enter)="initUnlock()"
        ></app-text-field>
      </div>

      <div class="bottom-actions two-btn">
        <div class="left-btn">
          <button
            class="close-btn"
            (click)="forgetKeystore()"
            [disabled]="keystoreConnecting"
          >
            <span>{{ 'common.forget' | translate }}</span>
          </button>
        </div>
        <div class="divider"></div>
        <div class="right-btn">
          <div>
            <button
              class="next-btn"
              (click)="initUnlock()"
              [disabled]="keystoreConnecting || !keystorePassword"
            >
              <span>{{ 'common.connect' | translate }}</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
