<div class="breadcumber-wrapper">
  <ng-container *ngIf="isMobile">
    <div class="skip-logo">
      <img [src]="isTestnet ? '/assets/icons/skip-logo-breadcrumb-testnet.svg' : '/assets/icons/skip-logo-breadcrumb.svg'" alt="skip logo">
    </div>
  </ng-container>
  <div
    class="breadcumber-container scroll"
    [ngClass]="{ error: isError || message.isError, isMobile: isMobile }"
  >
    <ng-container *ngFor="let p of path">
      <div
        class="path"
        [ngClass]="{ disable: p.disable, wider: isMobile }"
        (click)="navHandler(p)"
      >
        {{ p.name | translate }}
      </div>
      <div>></div>
    </ng-container>
    <ng-container *ngIf="backName">
      <div class="path" [ngClass]="{wider: isMobile}" (click)="backFunc.emit()">{{ backName | translate }}</div>
      <div>></div>
    </ng-container>
    <div class="path path--active" [ngClass]="{wider: isMobile}">
      {{ ((message && message.text) || message) | translate }}
    </div>
    <div class="cursor" #cursor></div>
  </div>
  <div *ngIf="isMobile" class="shadow"></div>
</div>