<div
  *ngIf="user"
  class="outline-btn expandable"
  style="margin-right: 19px; position: absolute; top: 0; right: 96px"
  [ngClass]="{ expanded: showMenu }"
>
  <div class="menu-container">
    <div class="address" (click)="toggleMenu()">
      {{ user.wallet.substring(0, 6) }}
      <div class="dots-cont" [ngClass]="{ anim: pendingTxCount == 0 }">
        <span class="dot dot-1">.</span><span class="dot dot-2">.</span
        ><span class="dot dot-3">.</span>
      </div>
      {{ user.wallet.substring(user.wallet.length - 5, user.wallet.length) }}
    </div>
    <div
      *ngIf="showMenu && user?.type !== 'metamask'"
      style="margin-top: 5px"
      class="menu"
      (click)="openUserSettings()"
    >
      <span>{{ 'common.wallet' | translate }}</span>
    </div>
    <div *ngIf="showMenu" class="menu" (click)="openTransaction()">
      <span *ngIf="pendingTxCount == 0">{{ 'common.transactions' | translate }}</span>
      <span *ngIf="pendingTxCount > 0"
        >{{ pendingTxCount | number: "1." }} {{'common.pending' | translate }}</span
      >
    </div>
    <div *ngIf="showMenu" class="menu" (click)="openAccountSetting()">
      <span>{{ 'common.settings' | translate }}</span>
    </div>
    <div
      *ngIf="showMenu"
      class="menu red"
      (click)="disconnect()"
    >
      <span>{{ 'common.disconnect' | translate }}</span>
    </div>
  </div>
</div>
