<!-- <div class="container" *ngIf="swapData" [ngClass]="{'pending': txState === 'PENDING_CONFIRMATION', 'success': txState === 'SUCCESS', 'submit': txState === 'SUBMITTING'}"> -->
<app-transaction-processing-modal
  *ngIf="txState == 'SUBMITTING'"
  [label]="['pending.sending' | translate, 'pending.receiving' | translate]"
  [isSending]="false"
  [asset]="[swapData.sourceAsset, swapData.targetAsset]"
  [amount]="[swapData.inputValue, swapData.outputValue]"
  [targetAddress]="swapData.targetAddress"
  type="Swap"
>
  <app-breadcrumb
    [path]="[
      { name: 'common.skip', call: 'skip' },
      { name: 'coomon.swap', call: 'swap' }
    ]"
    [message]="'common.processing' | translate"
    (funcCaller)="breadcrumbNav($event, 'processing')"
  ></app-breadcrumb>
</app-transaction-processing-modal>

<app-transaction-success-modal
  *ngIf="txState === 'SUCCESS'"
  [data]="getSuccessData()"
  [targetAddress]="swapData.targetAddress"
  (closeDialog)="closeDialog(true)"
  modalType="SWAP"
>
  <app-breadcrumb
    [path]="[
      { name: 'common.skip', call: 'skip' },
      { name: 'common.swap', call: 'swap' }
    ]"
    [message]="successMessage"
    (funcCaller)="breadcrumbNav($event, 'success')"
  ></app-breadcrumb>
</app-transaction-success-modal>


<div
  class="overlay-container-wrapper"
  *ngIf="txState === 'PENDING_CONFIRMATION' || txState === 'ERROR'"
>
  <div class="container" *ngIf="swapData">
  <div class="content-top">
    <div *ngIf="txState === 'PENDING_CONFIRMATION'">
      <app-breadcrumb
        [path]="[
          { name: 'common.skip', call: 'skip' },
          { name: 'common.swap', call: 'swap' }
        ]"
        [message]="'common.confirm' | translate"
        (funcCaller)="breadcrumbNav($event, 'pending')"
      ></app-breadcrumb>
    </div>
    <div *ngIf="txState === 'ERROR'">
      <app-breadcrumb
        [path]="[
          {
            name: 'common.skip',
            swapView: 'Swap',
            mainView: 'Swap',
            call: 'sucSwap'
          },
          {
            name: 'common.swap',
            swapView: 'Swap',
            mainView: 'Swap',
            call: 'sucSwap'
          }
        ]"
        [message]="error"
        [isError]="true"
        (funcCaller)="navCaller($event)"
      ></app-breadcrumb>
    </div>
  </div>

  <div class="main-content">

    <app-asset-input
      [label]="'common.send' | translate"
      type="swap"
      [(selectedAsset)]="swapData.sourceAsset.asset"
      [(assetUnit)]="swapData.inputValue"
      [balance]="swapData.balance"
      [disableInput]="true"
      [disabledAssetSymbol]="swapData.sourceAsset.asset.symbol"
      [priceInput]="swapData.sourceAsset.assetPriceUSD"
      [disabledMarketSelect]="true"
      [hideMax]="true"
    ></app-asset-input>

    <app-arrow></app-arrow>

    <app-asset-input
      [label]="'common.receive' | translate"
      [(selectedAsset)]="swapData.targetAsset.asset"
      [(assetUnit)]="swapData.outputValue"
      [balance]="swapData.targetAsset?.balance?.amount().toNumber()"
      [disableInput]="true"
      [disabledAssetSymbol]="swapData.targetAsset.asset.symbol"
      [priceInput]="swapData.targetAsset.assetPriceUSD"
      [disabledMarketSelect]="true"
      [targetAddress]="swapData.targetAddress"
      [hideMax]="true"
      [extraLabel]="'common.estimated' | translate"
    ></app-asset-input>

    <div>
      <div class="swap-details">
        <div class="flex justify-between">
          <span class="tx-detail-label">{{ 'swap.price' | translate }}</span>
          <span>
            1 {{ swapData.targetAsset.asset.ticker }} = {{ swapData.basePrice | number: "1.2-4" }} {{ swapData.sourceAsset.asset.ticker }}
            <span>
              <span
                *ngIf="swapData.sourceAsset.assetPriceUSD"
                class="mono"
                >({{
                  swapData.sourceAsset.assetPriceUSD *
                    currency.value *
                    swapData.basePrice | number: "0.2-2"
                }}
                {{ currency.code }})
              </span>
            </span>
          </span>
        </div>

        <div *ngIf="swapData.networkFeeInSource" class="flex justify-between text-white">
          <span class="tx-detail-label">{{ 'swap.fee' | translate }}</span>
          <span>
            {{ swapData.networkFeeInSource | number: "1.0-8" }} {{ swapData.sourceAsset.asset.ticker }}
            <span
              *ngIf="swapData.sourceAsset.assetPriceUSD"
              class="mono"
              >({{
                swapData.sourceAsset.assetPriceUSD *
                  currency.value *
                  swapData.networkFeeInSource | number: "0.2-2"
              }}
              {{ currency.code }})</span
            ></span
          >
        </div>

        <div class="flex justify-between">
          <span class="tx-detail-label">{{ 'swap.slip' | translate }}</span>
          <span
            [ngStyle]="{
              color:
                swapData.slip * 100 > slippageTolerance
                  ? '#FF4954'
                  : 'var(--primary-default)'
            }"
            >{{ swapData.slip | percent: "0.2-4" }} <span
              *ngIf="swapData.sourceAsset.assetPriceUSD"
              class="mono"
              >({{
                swapData.sourceAsset.assetPriceUSD *
                  currency.value *
                  swapData.inputValue *
                  swapData.slip | number: "1.2-2"
              }}
              {{ currency.code }})</span
            ></span
          >
        </div>

        <!-- <div *ngIf="swapData.targetAddress" class="flex justify-between mb-2">
          <span class="tx-detail-label">To Address</span>
          <span>{{swapData.targetAddress.substring(0, 8)}}...{{swapData.targetAddress.substring(swapData.targetAddress.length - 4, swapData.targetAddress.length)}}</span>
        </div>

        <div *ngIf="swapData.networkFeeInSource" class="flex justify-between mb-2">
          <span class="tx-detail-label">Total Fee</span>
          <span>{{swapData.networkFeeInSource | number:"1.0-4"}} {{swapData.sourceAsset.ticker}}</span>
        </div> -->

        <!-- <div class="flex justify-between">
          <div class="tx-detail-label">
            Estimated Transaction Time:
          </div>
          <span><{{ estimatedMinutes }} min</span>
        </div> -->
    </div>
  </div>

  <div class="bottom-actions two-btn">
      <ng-container>
        <div class="left-btn">
          <button
            class="close-btn"
            aria-label="Close Markets Dialog"
            (click)="closeDialog(false)"
          >
            <span>{{ 'common.cancel' | translate }}</span>
          </button>
        </div>
        <div class="divider"></div>
        <div class="right-btn">
          <button
            (click)="submitTransaction()"
            class="next-btn"
            [disabled]="insufficientChainBalance"
          >
            <span *ngIf="!insufficientChainBalance">{{ 'common.confirm' | translate }}</span>
            <span *ngIf="insufficientChainBalance">
              {{ 'breadcrumb.insufficientBalance' | translate }}
            </span>
          </button>
        </div>
      </ng-container>
    </div>
  </div>
  </div>
</div>
