<div class="container-wrapper">
  <div class="container">
    <div class="content-top">
      <ng-content></ng-content>
      <div class="top-right"></div>
    </div>

    <div class="main-content">
      <!-- first structure -->
      <app-asset-input
        *ngIf="data.modalType !== 'WITHDRAW'"
        [label]="data.label[0]"
        [(selectedAsset)]="data.asset[0].asset"
        [(assetUnit)]="data.amount[0]"
        [balance]="firstBalance"
        [disabledAssetSymbol]="data.asset[0].asset.symbol"
        [disabledMarketSelect]="true"
        [disableInput]="true"
        [hideMax]="true"
        [showPrice]="false"
        [disableUser]="false"
        [isWallet]="true"
        [eventTags]="getEventTags(0)"
        [processing]="data.isPending && data.isPending[0]">
      </app-asset-input>

      <div class="percent-container" *ngIf="data.modalType === 'WITHDRAW'">
        <span class="percent-label">Percentage</span>
        <span class="unstake-percent" [ngClass]="{disabled: this.data.isPending[0]}">{{ percentage }}%</span>
        <mat-slider
          class="slider"
          [disabled]="true"
          [max]="100"
          [min]="0"
          step="1"
          [tickInterval]="25"
          [value]="percentage"
        >
        </mat-slider>
      </div>
      <!-- end first structure -->

      <app-arrow *ngIf="data.asset[1] || data.modalType === 'SEND'" [isPlus]="data.isPlus" [isGrey]="true"></app-arrow>

      <!-- second structure -->
      <app-asset-input
        *ngIf="data.modalType !== 'WITHDRAW' && data.asset[1]"
        [label]="data.label[1]"
        [(selectedAsset)]="data.asset[1].asset"
        [(assetUnit)]="data.amount[1]"
        [balance]="secondBalance"
        [disabledAssetSymbol]="data.asset[1].asset.symbol"
        [disabledMarketSelect]="true"
        [disableInput]="true"
        [hideMax]="true"
        [showPrice]="false"
        [disableUser]="false"
        [isWallet]="data.balances[1] ? true : false"
        [targetAddress]="targetAddress"
        [targetLabel]="data.isPending && data.isPending[1] ? 'Receiving at' : 'Received at'"
        [eventTags]="getEventTags(1)"
        [processing]="data.isPending && data.isPending[1]">
      </app-asset-input>

      <app-text-field
        *ngIf="data.modalType === 'SEND'"
        selectedType="Text"
        mode="Single"
        label="Recipient Address"
        [(textOfField)]="recipientAddress"
        [disable]="true"
      ></app-text-field>

      <app-double-asset-field
        *ngIf="data.modalType === 'WITHDRAW'"
        [label]="data.label[0]"
        [selectedAssets]="[data.asset[0].asset, data.asset[1].asset]"
        [assetUnits]="[data.amount[0], data.amount[1]]"
        [bottomLabel]="data.label[1]"
        [isWallet]="true"
        [disabledAsset]="disabledAsset"
        [assetEvents]="getEventTags(0)"
        [processing]="data.isPending && data.isPending[0]"
      ></app-double-asset-field>
      <!-- end second structure -->

      <app-arrow></app-arrow>

      <!-- notice structure -->
      <app-success-notice [data]="data.hashes"></app-success-notice>
    </div>

    <!-- close button -->
    <div class="bottom-actions">
      <div style="width: 100%">
        <button
          class="close-btn"
          aria-label="CLOSE"
          (click)="close()"
        >
          <span>close</span>
        </button>
      </div>
    </div>
  </div>
</div>