<div class="container-wrapper">
  <div class="container" *ngIf="getSettingView() === 'ACCOUNT'">
    <div class="content-top">
      <app-breadcrumb
        [path]="[
          { name: 'common.skip', call: 'swap' },
          { name: 'common.settings', disable: true }
        ]"
        [message]="'breadcrumb.select' | translate"
        (funcCaller)="breadcrumbNav($event)"
      ></app-breadcrumb>
      <div class="top-right"></div>
    </div>
    <div>
      <div class="main-content long-content">
        <div class="lists flex-grow">
          <div class="list-item" (click)="setSettingView('SLIP')">
            <div class="left-sec">
              <span>{{ 'settings.slip' | translate }}</span>
            </div>
            <div class="right-sec">
              <span class="p-0">{{ slippageTolerance }}%</span>
            </div>
          </div>
          <div
            *ngIf="user?.type == 'keystore'"
            class="list-item"
            (click)="setSettingView('PHRASE')"
          >
            <div class="left-sec">
              <span>{{ 'settings.seed' | translate }}</span>
            </div>
            <div class="right-sec"></div>
          </div>
          <div class="list-item" (click)="setSettingView('CURRENCY')">
            <div class="left-sec">
              <span>{{ 'settings.currency' | translate }}</span>
            </div>
            <div class="right-sec">
              <span class="p-0">{{ currency.code }}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- close dialog -->
      <div class="bottom-actions" *ngIf="!isMobile">
        <div>
          <button class="close-btn" (click)="close()">
            <span>{{ 'common.close' | translate }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <ng-container *ngIf="getSettingView() === 'PHRASE'">
    <app-seed-phrase (close)="changeSettingView('ACCOUNT')"></app-seed-phrase>
  </ng-container>
  <ng-container *ngIf="getSettingView() === 'SLIP'">
    <app-slippage-tolerance
      (close)="changeSettingView('ACCOUNT')"
    ></app-slippage-tolerance>
  </ng-container>
  <ng-container *ngIf="getSettingView() === 'CURRENCY'">
    <app-currency-converter
      (close)="changeSettingView('ACCOUNT')"
    ></app-currency-converter>
  </ng-container>
</div>
