.expand-more {
  display: inline-block;
  margin-left: 2px;
  font-size: 24px;
  height: 28px;
  color: var(--primary-default);
  fill: var(--primary-default);
}

.red-text {
    color: var(--primary-red) !important;
}