<div class="container-wrapper">
  <div class="container">
    <!-- <app-modal-section-header
      [sectionTitle]="chain ? 'Add ' + chain + ' Token' : 'Add ... Token'"
      [displayBackBtn]="true"
      (back)="back.emit()">
    </app-modal-section-header> -->

    <div class="content-top">
      <app-breadcrumb
        [path]="[
          { name: 'common.skip', swapView: 'Swap', mainView: 'Swap' },
          { name: 'common.wallet', call: 'wallet' },
          { name: chain, call: 'chain' },
          { name: 'common.addToken', disable: true }
        ]"
        [isError]="error"
        [message]="message"
        (funcCaller)="navCaller($event)"
      ></app-breadcrumb>
      <div class="top-right"></div>
    </div>

    <div mat-dialog-content>
      <div>
        <!-- <div class="uni-input">
          <label>Token Contract Address</label>
          <input [(ngModel)]="tokenAddress" name="custom-token-address" placeholder="Enter {{chain}} Token Address" />
        </div> -->
        <app-text-field
          [(textOfField)]="tokenAddress"
          label="Enter {{ chain }} Token Address"
        ></app-text-field>

        <div class="swap-details">
          <div class="flex justify-between">
            <span class="tx-detail-label">
              {{ 'wallet.contract' | translate: {chain: chain} }}
            </span>
          </div>
        </div>
      </div>

      <div class="bottom-actions two-btn">
        <div class="right-btn">
          <button class="close-btn" (click)="back.emit()">
            <span>{{ 'common.cancel' | translate }}</span>
          </button>
        </div>
        <div class="divider"></div>
        <div class="left-btn">
          <button
            class="next-btn"
            [disabled]="
              tokenAddress.length < 40 ||
              tokenAddress.length > 42 ||
              !ethClient ||
              !chainAddress ||
              !chain ||
              loading
            "
            (click)="addToken()"
          >
            <span>{{ 'common.addToken' | translate }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
