<div style="height: 100%">
  <div *ngIf="!connectionView">
    <div class="content-top">
      <app-breadcrumb
        [path]="[
          { name: 'common.skip', call: 'swap' },
          { name: 'common.connect', disable: true }
        ]"
        [message]="message | translate"
        (funcCaller)="breadcrumbNav($event)"
      ></app-breadcrumb>
    </div>

    <div class="main-content">
      <div class="keystore-content" [ngClass]="{'is-mobile': isMobileDevice}" mat-dialog-content>
        <!-- Connect Options -->

        <button class="connect-option" (click)="createKeystore()">
          <div class="flex item items-center">
            <div class="add-icon">
              <img
                [src]="
                  isTestnet
                    ? '/assets/icons/plus-yellow.svg'
                    : '/assets/icons/plus-green.svg'
                "
                alt="add icon"
              />
            </div>
            <span class="item-text"><span class="small-1">{{ ('connect.createKeystore' | translate)[0] }}</span><span class="main-color">{{ ('connect.createKeystore' | translate)[1] }}</span></span>
          </div>
        </button>

        <button
        class="connect-option focus:outline-none justify-between"
        (click)="createKeystoreFromPhrase()"
        >
          <div class="flex item items-center">
            <div class="add-icon">
              <img
                [src]="
                  isTestnet
                    ? '/assets/icons/seed-yellow.svg'
                    : '/assets/icons/seed-green.svg'
                "
                alt="folder icon"
              />
            </div>
            <span class="item-text"><span class="small-1">{{ ('connect.phraseKeystore' | translate)[0] }}</span><span class="main-color">{{ ('connect.phraseKeystore' | translate)[1] }}</span></span>
          </div>
        </button>

        <button class="connect-option" (click)="connectKeystore()">
          <div class="flex item items-center">
            <div class="add-icon">
              <img
                [src]="
                  isTestnet
                    ? '/assets/icons/folder-icon-testnet.svg'
                    : '/assets/icons/folder-icon.svg'
                "
                alt="folder icon"
              />
            </div>
            <span class="item-text"><span class="small-1">{{ ('connect.connectKeystore' | translate)[0] }}</span><span class="main-color">{{ ('connect.connectKeystore' | translate)[1] }}</span></span>
          </div>
        </button>

        <button
          class="connect-option focus:outline-none justify-between"
          [disabled]="!(platform.BLINK && platform.isBrowser) || isMobileDevice"
          (click)="connectXDEFI()"
        >
          <div class="flex item items-center">
            <div class="add-icon">
              <img
                [src]="
                  isTestnet
                    ? '/assets/icons/xdefi-icon-testnet.svg'
                    : '/assets/icons/xdefi-icon.svg'
                "
                alt="xdefi icon"
              />
            </div>
            <span class="item-text" *ngIf="isXDEFIConnected"
              ><span class="small-1">{{ ('connect.xdefiConnect' | translate)[0] }}</span><span class="main-color">{{ ('connect.xdefiConnect' | translate)[1] }}</span></span
            >
            <span class="item-text" *ngIf="!isXDEFIConnected && !isMobileDevice">
              <span class="small-1">{{ ('connect.installXdefi' | translate)[0] }}</span><span class="main-color">{{ ('connect.installXdefi' | translate)[1] }}</span><span class="small-1">{{ ('connect.installXdefi' | translate)[2] }}</span>
            </span>
            <span class="item-text" *ngIf="!isXDEFIConnected && isMobileDevice">
              <span class="small-1">{{ ('connect.desktopXdefi' | translate)[0] }}</span><span class="main-color">{{ ('connect.desktopXdefi' | translate)[1] }}</span><span class="small-1">{{ ('connect.desktopXdefi' | translate)[2] }}</span>
            </span>
          </div>
        </button>

        <button class="connect-option"
          [disabled]="!(platform.BLINK || platform.FIREFOX || platform.EDGE) || isMobileDevice"
          (click)="connectMetaMask()"
        >
          <div class="flex item items-center">
            <div class="add-icon">
              <img
              [src]="
                isTestnet
                  ? '/assets/icons/metamask-yellow.svg'
                  : '/assets/icons/metamask-green.svg'
              "
                alt="folder icon"
              />
            </div>
            <span *ngIf="isMetamask" class="item-text"><span class="small-1">{{ ('connect.metamask' | translate)[0] }}</span><span class="main-color">{{ ('connect.metamask' | translate)[1] }}</span></span>
            <span *ngIf="!isMetamask && !isMobileDevice" class="item-text"><span class="small-1">{{ ('connect.installMetamask' | translate)[0] }}</span><span class="main-color">{{ ('connect.installMetamask' | translate)[1] }}</span><span class="small-1">{{ ('connect.installMetamask' | translate)[2] }}</span></span>
            <span *ngIf="!isMetamask && isMobileDevice" class="item-text"><span class="small-1">{{ ('connect.desktopMetamask' | translate)[0] }}</span><span class="main-color">{{ ('connect.desktopMetamask' | translate)[1] }}</span><span class="small-1">{{ ('connect.desktopMetamask' | translate)[2] }}</span></span>
          </div>
        </button>

        <button class="connect-option" (click)="connectWalletConnect()">
          <div class="flex item items-center">
            <div class="add-icon">
              <img
              [src]="
                isTestnet
                  ? '/assets/images/wallet-connect-icon-testnet.png'
                  : '/assets/images/wallet-connect-icon-mainnet.png'
              "
                alt="folder icon"
              />
            </div>
            <span class="item-text"><span class="small-1">{{ ('connect.walletConnect' | translate)[0] }}</span><span class="main-color">{{ ('connect.walletConnect' | translate)[1] }}</span></span>
          </div>
        </button>

        <!-- close dialog -->
      </div>
    </div>
    <div class="bottom-actions">
      <button
        class="close-btn"
        aria-label="Close Connect Wallet"
        (click)="close()"
      >
        <span>{{ 'common.cancel' | translate }}</span>
      </button>
    </div>
  </div>

  <!-- KEYSTORE CREATE -->
  <app-keystore-create
    *ngIf="connectionView == 'KEYSTORE_CREATE'"
    (back)="clearConnectionMethod()"
    (keystoreCreated)="storePhrasePrompt($event)"
    (closeModal)="close()"
  ></app-keystore-create>

  <!-- KEYSTORE CREATE - write down phrase prompt -->
  <app-keystore-create-store-phrase
    *ngIf="connectionView == 'KEYSTORE_WRITE_PHRASE'"
    [phrase]="phrase"
    (closeModal)="close()"
    [eventCategory]="writePhraseCategory"
  ></app-keystore-create-store-phrase>

  <!-- KEYSTORE CONNECT -->
  <app-keystore-connect
    *ngIf="connectionView == 'KEYSTORE_CONNECT'"
    (back)="clearConnectionMethod()"
    (closeModal)="close()"
  ></app-keystore-connect>

  <!-- XDEFI CONNECT -->
  <app-xdefi-connect
    *ngIf="connectionView == 'XDEFI'"
    (back)="clearConnectionMethod()"
    (closeModal)="close()"
  ></app-xdefi-connect>

  <!--KEYSTORE IMPORT PHRASE -->
  <app-import-phrase
    *ngIf="connectionView == 'KEYSTORE_IMPORT_PHRASE'"
    (back)="clearConnectionMethod()"
    (closeModal)="close()"
    (keystoreCreated)="storePhrasePrompt($event)"
  ></app-import-phrase>
</div>
