<div class="inner-container">
  <div class="dialog-content">
    <div class="content-top">
      <app-breadcrumb
        [path]="[
          { name: 'common.skip', call: 'swap' },
          { name: 'common.connect', call: 'connect' },
          { name: 'breadcrumb.createKeystore', disable: true }
        ]"
        [isError]="error || (password !== confirmPassword && confirmPassword)"
        [message]="
          error
            ? ('breadcrumb.errorKeystore' | translate)
            : (password !== confirmPassword && confirmPassword)
            ? ('breadcrumb.errorMatch' | translate) 
            : ('breadcrumb.prepare' | translate)
        "
        (funcCaller)="breadcrumbNav($event)"
      ></app-breadcrumb>
      <div class="top-right"></div>
    </div>

    <div mat-dialog-content>
      <div class="uni-input">
        <label>{{ 'common.password' | translate }}</label>
        <input
          class="password focus:ring-0"
          [(ngModel)]="password"
          name="keystore-password"
          placeholder=" "
          type="password"
        />
        <span class="pulse-placeholder"></span>
      </div>

      <app-arrow></app-arrow>

      <div class="uni-input">
        <label>{{ 'connect.confirmPass' | translate }}</label>
        <input
          class="password focus:ring-0"
          [(ngModel)]="confirmPassword"
          name="confirm-password"
          placeholder=" "
          type="password"
        />
        <span class="pulse-placeholder"></span>
      </div>
    </div>

    <div class="descriptive">
      <span [innerHTML]="'connect.createKeystoreHelp' | translate"></span>
    </div>
  </div>

  <div class="bottom-actions two-btn">
    <div class="left-btn">
      <button class="close-btn" (click)="backNav()">
        <span>{{ 'common.cancel' | translate }}</span>
      </button>
    </div>
    <div class="divider"></div>
    <div class="right-btn">
      <!-- <div>
        <span *ngIf="error" style="font-size: 0.8rem; color: #2172e5">Error Creating Keystore</span>
      </div> -->
      <div>
        <button
          class="next-btn"
          (click)="createKeystore()"
          [disabled]="
            !phrase || !password || password != confirmPassword || loading
          "
        >
          <span>{{ 'common.create' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
