<div
  *ngIf="memberPoolData && asset"
  class="pool-list-item"
  [ngClass]="{ activate: activate, pending: isPending }"
  (click)="toggleExpanded()"
  (mouseover)="hover = true"
  (mouseout)="hover = false"
>
  <div class="flex justify-between items-center">
    <div class="left-section">
      <app-icon-ticker
        [iconPath]="asset.iconPath"
        [chain]="asset.chain"
        [ticker]="asset.ticker"
      ></app-icon-ticker>
      <span class="extra-info" *ngIf="poolData && !activate">
        ({{ +poolData.poolAPY * 100 | number: "0.0-2" }}% {{ 'pool.apy' | translate }}<span *ngIf="!isMobile"> /
        {{ assetDepth | shortNumber }} {{ currency.code }} {{ 'pool.depth' | translate }}</span>)
      </span>
    </div>

    <div class="flex justify-between">
      <ng-container *ngIf="activate">
        <app-tag *ngIf="!isTestnet && !isMobile">
          <a
            [href]="runeyieldAddress()"
            target="_blank"
            >{{ 'pool.yieldStats' | translate }}</a
          >
        </app-tag>
        <div *ngIf="(!isTestnet && !isMobile) || isPending" style="width: 5px"></div>
        <app-tag>
          <a
            [href]="getPoolUrl()"
            target="_blank"
            (click)="statEvent()"
            >{{ 'pool.poolStats' | translate }}</a
          >
        </app-tag>
        <div style="width: 5px"></div>
        <app-tag *ngIf="!depositsDisabled && !isPending">
          <a [routerLink]="['/', 'deposit', asset.chain + '.' + asset.symbol]"
          (click)="depositEvent()"
          >{{ 'common.deposit' | translate }}</a
          >
        </app-tag>
        <div *ngIf="!depositsDisabled && !isPending" style="width: 5px"></div>
        <app-tag *ngIf="!isPending">
          <a [routerLink]="['/', 'withdraw', asset.chain + '.' + asset.symbol]"
            (click)="withdrawEvent()"  
          >{{ 'common.withdraw' | translate }}</a
          >
        </app-tag>
      </ng-container>
      <app-tag *ngIf="isPending" type="color" [color]="isWithdraw(isPending.action) ? '#FF4954' : '#28F4AE'" [active]="hover || activate">
        <span style="color: inherit">{{ isPending.action + 'ING' }}</span>
      </app-tag>
      <ng-container *ngIf="!activate && !isPending">
        <app-tag
          type="color"
          [active]="hover"
          [color]="gainLoss < 0 ? '#FF4954' : '#28F4AE'"
        >
          <span style="color: inherit"
            >{{ 'pool.joined' | translate }}
            <span *ngIf="gainLoss && !isTestnet" style="color: inherit"
              >{{ gainLoss > 0 ? "+" : ""
              }}{{ gainLoss | number: "0.0-2" }}%</span
            ></span
          >
        </app-tag>
      </ng-container>
    </div>
  </div>

</div>
