<div class="container-wrapper">
  <div class="container">
    <div class="main-container">
      <nav class="content-top">
        <ng-content></ng-content>
        <div class="top-right"></div>
      </nav>

      <div *ngIf="poolTypeOptions" class="lists" style="height: 167px;">
        <button *ngIf="poolTypeOptions.sym && assets" [ngClass]="{'active': _poolType === 'SYM'}" (click)="choosenPoolType('SYM')" class="w-address" >
          <div class="icon-addr flex-grow flex-shrink-0">
            <div class="asset-icon-container two-icons">
              <img class="asset-icon" [src]="assets[0].asset.iconPath" appImgFallback/>
              <img class="asset-icon" [src]="assets[1].asset.iconPath" appImgFallback/>
            </div>
            <label><span class="small-1">{{assets[0].asset.chain}}</span>.{{assets[0].asset.ticker}} + <span class="small-1">THOR</span>.RUNE</label>
          </div>
          <div style="margin-left: 0;" class="addr">
            <span *ngIf="assets[0].assetPriceUSD && assets[1].assetPriceUSD">{{ (assets[0].assetPriceUSD * (assets[0].balance || 0) * currency.value) + (assets[1].assetPriceUSD * (assets[1].balance || 0) * currency.value) | number: '0.0-2' }} {{ currency.code }}</span>
          </div>
        </button>
      
        <button *ngIf="poolTypeOptions.asymAsset && assets" [ngClass]="{'active': _poolType === 'ASYM_ASSET'}" (click)="choosenPoolType('ASYM_ASSET')" class="w-address" >
          <div class="icon-addr flex-grow flex-shrink-0">
            <div class="asset-icon-container">
              <img class="asset-icon" [src]="assets[0].asset.iconPath" appImgFallback/>
            </div>
            <label><span class="small-1">{{assets[0].asset.chain}}</span>.{{assets[0].asset.ticker}}</label>
          </div>
          <div style="margin-left: 0;" class="addr">
            <span *ngIf="assets[0].assetPriceUSD">{{ assets[0].assetPriceUSD * (assets[0].balance || 0) * currency.value | number: '0.0-2' }} {{ currency.code }}</span>
          </div>
        </button>
      
        <button *ngIf="poolTypeOptions.asymRune" [ngClass]="{'active': _poolType === 'ASYM_RUNE'}" (click)="choosenPoolType('ASYM_RUNE')" class="w-address" >
          <div class="icon-addr flex-grow flex-shrink-0">
            <div class="asset-icon-container">
              <img class="asset-icon" [src]="rune.iconPath" appImgFallback/>
            </div>
            <label><span class="small-1">THOR</span>.RUNE</label>
          </div>
          <div style="margin-left: 0;" class="addr">
            <span *ngIf="assets[1].assetPriceUSD">{{ assets[1].assetPriceUSD * assets[1].balance * currency.value | number: '0.0-2' }} {{ currency.code }}</span>
          </div>
        </button>
      </div>

      <div class="disclaimer" style="margin-top: 14px; margin-left: 22px;">
        <ng-content select="[disclaimer]"></ng-content>
      </div>

    </div>
    <!-- close dialog -->
    <div class="bottom-actions">
      <div class="left-btn">
        <button class="close-btn" (click)="back()">
          <span>Cancel</span>
        </button>
      </div>
    </div>
  </div>
</div>

