<div class="overlay-of-content">
  <div class="content-top">
    <app-breadcrumb
      [path]="[
        { name: 'common.skip', call: 'skip' },
        { name: 'common.swap', call: 'swap' },
        { name: 'breadcrumb.targetAddress' | translate: {chain: data?.chain}, disable: true }
      ]"
      [message]="updateAddressBtnText()"
      (funcCaller)="breadcrumbNav($event)"
    ></app-breadcrumb>
  </div>

  <div>
    <div mat-dialog-content style="height: 365px">
      <app-text-field
        [label]="'wallet.recipient' | translate"
        [(textOfField)]="targetAddress"
        name="target-address"
      ></app-text-field>
    </div>
  </div>

  <!-- close dialog -->
  <div class="bottom-actions two-btn">
    <div class="left-btn">
      <button
        class="close-btn"
        aria-label="Close Markets Dialog"
        (click)="backEmit()"
      >
        <span>{{ 'common.cancel' | translate }}</span>
      </button>
    </div>
    <div class="divider"></div>
    <div class="right-btn">
      <button class="next-btn" (click)="updateAddress()" [disabled]="formDisabled()">
        <span>{{ 'common.save' | translate }}</span>
      </button>
    </div>
  </div>
</div>