<div class="inner-container">
  <div class="dialog-content">
    <div class="content-top">
      <app-breadcrumb
        [path]="[
          { name: 'common.skip', call: 'swap' },
          { name: 'common.connect', call: 'connect' },
          { name: 'breadcrumb.xdefi', disable: true }
        ]"
        (funcCaller)="breadcrumbNav($event)"
        [message]="getBreadcrumbText()"
      ></app-breadcrumb>
    </div>

    <div mat-dialog-content>
      <div
        *ngIf="listProviders"
        class="grid grid-cols-3"
        style="margin: 0 -5px"
      >
        <app-notice
          *ngFor="let providerInfo of listProviders; let i = index"
          style="margin: 5px"
          [isTag]="false"
          [isMono]="true"
          [isGray]="true"
        >
          <div class="notice-check" text>
            <img
              *ngIf="providerInfo.enabled"
              [src]="
                isTestnet
                  ? '/assets/icons/checkmark-tesnet.svg'
                  : '/assets/icons/checkmark.svg'
              "
              alt="checkmark"
            />
            <div *ngIf="!providerInfo.enabled" class="not-checked"></div>
            <span [ngClass]="{'red-text': !providerInfo.enabled}">{{ providerInfo.title.split(" ")[0] }}</span>
          </div>
        </app-notice>
      </div>

      
      <div class="swap-details" style="color: #fff">
        <div style="margin-bottom: 5px; font-size: 14px" >
          {{ ('connect.xdefiHelp' | translate)[0] }}
          <span style="color: var(--primary-default)">{{ ('connect.xdefiHelp' | translate)[1] }}</span>
          {{ ('connect.xdefiHelp' | translate)[2] }}
        </div>
        <div
          style=" margin-bottom: 5px; font-size: 14px; color: var(--primary-red); "
        >
          {{ ('connect.xdefiHelp' | translate)[3] }}
        </div>
        <div
          style=" margin-bottom: 5px; font-size: 14px; color: var(--primary-default); "
        >
          {{ ('connect.xdefiHelp' | translate)[4] }}
        </div>
      </div>

    </div>

    <div class="bottom-actions two-btn">
      <div class="left-btn">
        <button class="close-btn" (click)="backNav()">
          <span>{{ 'common.cancel' | translate }}</span>
        </button>
      </div>
      <div class="divider"></div>
      <div class="right-btn">
        <div>
          <button
            class="next-btn"
            (click)="initUnlock()"
            [disabled]="xdefiConnecting || !isValidNetwork || loading || providersDisabled()"
          >
            <span>{{ 'common.connect' | translate }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
