<div class="swap-input uni-input" [ngClass]="{ disable: disableUser, error: isError }">
  <div class="swap-input--inner">

    <!-- top bar -->
    <div class="flex justify-between label-wrapper" [ngClass]="{'items-center': isMobile}">

      <!-- label -->
      <label class="label-title" for="{{ label }}Input">
        {{ label }} <span style="color: var(--primary-grey-color)"> {{ extraLabel }} </span>
      </label>
      
      <!-- target address -->
      <app-target-address 
        *ngIf="(hasAddress || targetAddress) && (!disableUser && selectedAsset) && !isMobile" 
        [disabledMarketSelect]="disabledMarketSelect"
        [hasAddress]="hasAddress" 
        [targetAddress]="targetAddress" 
        [targetLabel]="targetLabel" 
        (openTargetAddress)="openTargetAddress()">
      </app-target-address>

      <app-select-asset
        *ngIf="isMobile"
        [selectedAsset]="selectedAsset"
        [disabledMarketSelect]="disabledMarketSelect"
        [selectableMarkets]="selectableMarkets"
        (launchMarketsModal)="launchMarketsModal()"
      ></app-select-asset>
    </div>

    <!-- middle bar -->
    <div class="flex justify-between items-center middle-bar" style="position: relative">

      <!-- loading -->
      <div *ngIf="loading" class="flex items-center flex-grow">
        <span
          style="
            text-transform: uppercase;
            color: var(--primary-grey-color);
            font-size: 22px;
            font-family: 'Roboto Mono';
          "
        >0.0</span>
      </div>

      <input
        class="priceInput focus:outline-none focus:ring-0"
        *ngIf="!loading && !error"
        [ngModel]="assetUnit"
        (ngModelChange)="updateAssetUnits($event)"
        id="{{ label }}Input"
        name="fromUnit"
        placeholder="0.0"
        type="number"
        [disabled]="disableInput"
        [ngClass]="{ disable: disableUser, processing: processing }"
        [ngStyle]="{ color: inputColor }"
      />

      <div
        class="tag-space--between"
        style="margin-right: 8px"
        *ngIf="
          balance &&
          balance > 0 &&
          balance != assetUnit &&
          !hideMax &&
          getMax() !== assetUnit
        "
      >
        <app-tag (click)="setMax()">MAX</app-tag>
      </div>

      <div
        class="tag-space--between"
        style="margin-right: 8px"
        *ngIf="isWallet && hasWallet"
      >
        <app-tag (click)="gotoWallet()">WALLET</app-tag>
      </div>

      <app-select-asset
        *ngIf="!isMobile"
        [selectedAsset]="selectedAsset"
        [disabledMarketSelect]="disabledMarketSelect"
        [selectableMarkets]="selectableMarkets"
        (launchMarketsModal)="launchMarketsModal()"
      ></app-select-asset>
    </div>

    <!-- bottom bar -->
    <div class="flex justify-between items-center">
      <div>
        <span 
          class="usd-est"
          [ngClass]="{ processing: processing }"
          *ngIf="selectedAsset && balance && !disableUser && showBalance"
        >
          {{ balance }} BALANCE  
        </span>
        <span 
          class="usd-est processing"
          *ngIf="selectedAsset && !balance && !disableUser && showBalance && processing"
        >
          LOADING BALANCE 
        </span>
        <span class="usd-est" [ngClass]="{ processing: processing }" *ngIf="balance && showBalance && selectedAsset && (priceInput || inputUsdValue || !assetUnit) && showPrice && !(hasAddress || targetAddress)"> / </span>
        <span class="usd-est" [ngClass]="{ processing: processing }" *ngIf="showPrice && inputUsdValue && !(hasAddress || targetAddress)">
          {{ inputUsdValue * currency.value | number: ".2-3" }} {{ currency.code }}<span *ngIf="type" style="text-transform: uppercase;"> {{type}}</span>
        </span>
        <span
          class="usd-est"
          [ngClass]="{ processing: processing }"
          *ngIf="showPrice && !inputUsdValue && priceInput && assetUnit && !(hasAddress || targetAddress)"
        >
          {{ priceInput * currency.value * assetUnit | number: ".2-3" }} {{ currency.code }}<span *ngIf="type" style="text-transform: uppercase;"> {{type}}</span>
        </span>
        <span
          class="usd-est"
          [ngClass]="{ processing: processing }"
          *ngIf="showPrice && !inputUsdValue && (assetUnit == 0 || !assetUnit) && !(hasAddress || targetAddress)"
        >{{ 0 | number: ".2-3" }} {{ currency.code }}<span *ngIf="type" style="text-transform: uppercase;"> {{type}}</span>
        </span>
      </div>
      
      <app-target-address 
        *ngIf="(hasAddress || targetAddress) && (!disableUser && selectedAsset) && isMobile" 
        [disabledMarketSelect]="disabledMarketSelect"
        [hasAddress]="hasAddress" 
        [targetAddress]="targetAddress" 
        [targetLabel]="targetLabel" 
        (openTargetAddress)="openTargetAddress()">
      </app-target-address>
    </div>
  </div>
</div>
