<div
  class="asset-list-container"
  [ngClass]="{
    'safari-full': expandable === 'full',
    'safari-semi': expandable === 'semi'
  }"
>
  <div
    class="market-list-container"
    [ngClass]="{
      'no-asset':
        (!loading && assetListItems && assetListItems.length == 0) ||
        (!loading && !assetListItems),
      loading: loading
    }"
    [ngStyle]="{
      'border-radius':
        assetListItems &&
        ((expandable === 'full' && assetListItems.length >= itemsInView + 1) ||
          (expandable === 'semi' && assetListItems.length > itemsInView) ||
          (expandable === 'semi' &&
            assetListItems.length > itemsInView - 1 &&
            displayAddTokenButton))
          ? '6px 6px 0 0'
          : '6px'
    }"
  >
    <!-- <div *ngIf="loading" class="flex items-center justify-center" style="height: 100%; width: 100%"> -->
    <!-- <mat-progress-spinner diameter="16" color="primary" mode="indeterminate"></mat-progress-spinner> -->
    <!-- </div> -->
    <span *ngIf="loading" class="loading">{{ 'breadcrumb.loading' | translate }}</span>
    <!-- <div class="flex items-center justify-center " style="flex-direction: column; flex: 1 1 auto; height: 100%;" > -->
    <span *ngIf="!loading && assetListItems && assetListItems.length == 0">{{
      noAssets | translate
    }}</span>

    <span *ngIf="!loading && !assetListItems">{{ 'pool.noAsset' | translate }}</span>
    <!-- </div> -->
    <ul
      *ngIf="!loading && assetListItems && assetListItems.length > 0"
      class="market-list"
    >
      <li
        *ngIf="displayAddTokenButton"
        class="market-list-item"
        (click)="addToken.emit()"
      >
        <div class="flex flex-grow">
          <div class="flex item items-center">
            <div class="add-icon">
              <img
                [src]="
                  isTestnet
                    ? '/assets/icons/plus-yellow.svg'
                    : '/assets/icons/plus-green.svg'
                "
                alt="plus icon"
              />
            </div>
            <span class="item-text" [innerHTML]="'wallet.addToken' | translate"></span>
          </div>
        </div>
      </li>
      <li
        class="market-list-item"
        *ngFor="let item of assetListItems"
        (click)="selectAsset.emit(item.asset)"
        [class.disabled]="item.asset.symbol == disabledAssetSymbol"
      >
        <div class="flex flex-grow justify-between" style="width: 100%">
          <div class="flex items-center">
            <app-icon-ticker
              [chain]="item.asset.chain"
              [ticker]="item.asset.ticker"
              [iconPath]="item.asset.iconPath"
            ></app-icon-ticker>
            <span *ngIf="showApy && hasAPY(item)" class="side-asset small-1 mono">({{+hasAPY(item).apy * 100 | number: '0.0-2'}}% {{ 'pool.apy' | translate }})</span>
          </div>
          <div
            *ngIf="item.balance"
            class="flex items-center text-right"
            style="height: 30px"
          >
          <span class="market-list-item__balance" [ngClass]="{'small-2': isMobile}">{{item.balance.amount().toNumber() | number: "1.2-6"}}<span *ngIf="item.assetPriceUSD && showPrice" class="small-1 ml-0.5">({{item.assetPriceUSD * item.balance.amount().toNumber() * currency.value | shortNumber: showApy ? false : true}} {{currency.code}})</span>
          </span>
          </div>

        </div>
      </li>
    </ul>
  </div>
  <div
    class="scroll-for-more"
    *ngIf="
      (assetListItems && assetListItems.length > itemsInView) ||
      (assetListItems && assetListItems.length > itemsInView - 1 && displayAddTokenButton)
    "
  >
    <img
      style="padding: 19px 0"
      src="assets/images/mouse-scroll.svg"
      alt="scroll for more"
    />
  </div>
</div>
