<div class="inner-container">
  <div class="dialog-content">
    <div class="content-top">
      <app-breadcrumb
        [path]="[
          { name: 'common.skip', call: 'swap' },
          { name: 'common.connect', call: 'connect' },
          { name: 'breadcrumb.keystoreConnect', disable: true }
        ]"
        (funcCaller)="breadcrumbNav($event)"
        [isError]="keystoreError"
        [message]="
          keystoreError
            ? ('breadcrumb.errorLogin' | translate)
            : keystoreConnecting
            ? ('breadcrumb.connecting' | translate)
            : ('breadcrumb.keystoreLogin' | translate)
        "
      ></app-breadcrumb>
    </div>

    <div class="main-content">
      <input
        class="focus:ring-0"
        #keystoreInput
        hidden="true"
        type="file"
        onclick="this.value=null"
        (change)="onKeystoreFileChange($event)"
      />
      <button
        class="uni-input uni-input--file"
        style="position: relative"
        [ngStyle]="{
          background: keystoreFileSelected
            ? 'var(--primary-default)'
            : 'var(--primary-grey-background)',
          color: keystoreFileSelected ? '#0D1B23' : '#fff'
        }"
      >
        <span *ngIf="!keystoreFileSelected" [innerHTML]="'connect.connectNotice' | translate"></span>
        <span *ngIf="keystoreFileSelected" [innerHTML]="'connect.connectUploadedNotice' | translate"></span>

        <app-tag
          style="position: absolute; right: 18px"
          [type]="keystoreFileSelected ? 'dark' : 'green'"
          (click)="keystoreInput.click()"
        >{{ 'connect.selectFile' | translate }}
        </app-tag>
      </button>

      <app-arrow></app-arrow>

      <div class="uni-input">
        <label>Password</label>
        <input
          [(ngModel)]="keystorePassword"
          class="password focus:ring-0"
          name="keystore-password"
          placeholder=" "
          type="password"
          [disabled]="!keystoreFileSelected"
          (keyup.enter)="initUnlock()"
        />
        <span class="pulse-placeholder"></span>
      </div>

      <div class="descriptive" [innerText]="'connect.connectHelp' | translate"></div>
    </div>

    <div class="bottom-actions two-btn">
      <div class="left-btn">
        <button
          (click)="clearKeystore()"
          class="close-btn"
          [disabled]="keystoreConnecting"
        >
          <span>{{ 'common.cancel' | translate }}</span>
        </button>
      </div>
      <div class="divider"></div>
      <div class="right-btn">
        <div>
          <button
            class="next-btn"
            (click)="initUnlock()"
            [disabled]="
              keystoreConnecting || !keystorePassword || !keystoreFileSelected
            "
          >
            <span>{{ 'common.connect' | translate }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
