<div class="swap-input uni-input double-asset" [ngClass]="{ disable: disableUser, 'one-asset': disabledAsset }">
  <div class="swap-input--inner">
    <div class="flex justify-between items-center top-bar">
      <label class="label-title" for="{{ label }}Input">{{ label }}</label>
      <app-select-asset
        *ngIf="isMobile"
        [selectedAsset]="disabledAsset && assetToString(disabledAsset) === assetToString(selectedAssets[0])  ? selectedAssets[1] : selectedAssets[0]"
        [disabledMarketSelect]="true"
        [selectableMarkets]="[]"
      ></app-select-asset>
    </div>

    <div class="flex justify-between items-center" style="position: relative">
      <div *ngIf="loading" class="flex items-center" style="height: 29.333px">
        <span
          style="
            text-transform: uppercase;
            color: var(--primary-grey-color);
            font-size: 22px;
            font-family: 'Roboto Mono';
          "
          >0.0</span
        >
      </div>

      <div
        *ngIf="!loading && error"
        class="flex items-center"
        style="height: 53px"
      >
        <mat-icon style="font-size: 1rem; height: 18px">warning</mat-icon>
        <span style="font-size: 0.8rem">Error fetching pool</span>
      </div>
    </div>

    <div class="inputs middle-bar">
      <div *ngIf="!disabledAsset || assetToString(selectedAssets[0]) !== assetToString(disabledAsset)" class="input flex-grow">
        <input
          class="priceInput focus:outline-none focus:ring-0"
          *ngIf="!loading && !error"
          [ngModel]="assetUnits[0]"
          id="{{ label }}Input"
          name="fromUnit"
          placeholder="0.0"
          type="number"
          [disabled]="true"
          [ngClass]="{ disable: disableUser, processing: processing }"
        />
        <div
          class="tag-space--between"
          style="margin-right: 8px"
          *ngIf="isWallet"
        >
          <app-tag (click)="gotoWallet(selectedAssets[0])">WALLET</app-tag>
        </div>
        <button
          *ngIf="selectedAssets[0] && !isMobile"
          class="launch-markets-btn"
          [disabled]="true"
        >
          <div class="flex items-center asset-selector disabled">
            <app-icon-ticker
              [iconPath]="selectedAssets[0].iconPath"
              [ticker]="selectedAssets[0].ticker"
              [chain]="selectedAssets[0].chain"
            ></app-icon-ticker>
          </div>
        </button>
        <svg-icon *ngIf="isMobile && !disabledAsset" src="assets/icons/withdrawal-up-arrow.svg" alt="up arrow"
          class="default-arrow"
        ></svg-icon>
      </div>
      <div *ngIf="!disabledAsset || assetToString(selectedAssets[1]) !== assetToString(disabledAsset)" [ngClass]="{'break-point': !isMobile && !disabledAsset}" class="input flex-grow">
        <input
          class="priceInput focus:outline-none focus:ring-0"
          *ngIf="!loading && !error"
          [ngModel]="assetUnits[1]"
          id="{{ label }}Input"
          name="fromUnit"
          placeholder="0.0"
          type="number"
          [disabled]="true"
          [ngClass]="{ disable: disableUser, processing: processing }"
        />
        <div
          class="tag-space--between"
          style="margin-right: 8px"
          *ngIf="isWallet"
        >
          <app-tag (click)="gotoWallet(selectedAssets[1])">WALLET</app-tag>
        </div>
        <button
          *ngIf="selectedAssets[1] && !isMobile"
          class="launch-markets-btn"
          [disabled]="true"
        >
          <div class="flex items-center asset-selector disabled">
            <app-icon-ticker
              [iconPath]="selectedAssets[1].iconPath"
              [ticker]="selectedAssets[1].ticker"
              [chain]="selectedAssets[1].chain"
            ></app-icon-ticker>
          </div>
        </button>
        <svg-icon *ngIf="isMobile && !disabledAsset" src="assets/icons/withdrawal-up-arrow.svg" alt="down arrow"
          class="default-arrow down"
        ></svg-icon>
      </div>
    </div>

    <div class="flex justify-between items-center bottom-bar">
      <span
        class="usd-est"
        *ngIf="showPrice"
        [ngClass]="{ processing: processing }"
      >
        {{bottomLabel}}
      </span>
      <app-select-asset
        *ngIf="isMobile && !disabledAsset"
        [selectedAsset]="selectedAssets[1]"
        [disabledMarketSelect]="true"
        [selectableMarkets]="[]"
      ></app-select-asset>
    </div>
  </div>
</div>
