<div
  class="container-wrapper"
  *ngIf="txState === 'PENDING_CONFIRMATION' || mode === 'ERROR'"
>
  <div class="container">
    <div class="content-top">
      <app-breadcrumb
        [path]="[
          { name: 'common.skip', call: 'swap' },
          { name: 'common.wallet', call: 'wallet' },
          { name: asset.asset.chain, call: 'chain' },
          { name: asset.asset.chain + '.' + asset.asset.ticker, call: 'asset' },
          { name: 'common.send', disable: true }
        ]"
        [message]="message"
        (funcCaller)="breadcrumbNav($event)"
        [isError]="mode === 'ERROR'"
      ></app-breadcrumb>
      <div class="top-right"></div>
    </div>

    <div mat-dialog-content>
      <div class="modal-head confirm-modal-head">
        <app-asset-input
          [label]="translate.format('common.send')"
          type="send"
          [(selectedAsset)]="asset.asset"
          [(assetUnit)]="amount"
          [balance]="asset.balance.amount().toNumber()"
          [disabledAssetSymbol]="asset.asset.symbol"
          [selectableMarkets]="[asset]"
          [disabledMarketSelect]="true"
          [disableInput]="true"
          [hideMax]="true"
        >
        </app-asset-input>

        <app-arrow></app-arrow>

        <app-text-field
          *ngIf="asset.asset.chain !== 'BNB'"
          selectedType="Text"
          mode="Single"
          [label]="translate.format('wallet.recipient')"
          [(textOfField)]="recipientAddress"
          [disable]="true"
        ></app-text-field>
        <app-text-field
          *ngIf="asset.asset.chain === 'BNB'"
          selectedType="Text"
          mode="Double"
          typeTwo="text"
          [label]="translate.format('wallet.recipient')"
          [labelTwo]="translate.format('wallet.memo')"
          [(textOfField)]="recipientAddress"
          [(textOfFieldTwo)]="memo"
          [disable]="true"
          [disableTwo]="true"
        ></app-text-field>
      </div>
    </div>

    <div class="bottom-actions two-btn">
      <div class="right-btn">
        <div>
          <button class="close-btn" (click)="backNav()">
            <span>{{ 'common.cancel' | translate }}</span>
          </button>
        </div>
      </div>
      <div class="divider"></div>
      <div class="left-btn">
        <div>
          <button
            (click)="submitTransaction()"
            class="next-btn"
          >
            <span>{{ 'common.confirm' | translate }}</span>
          </button>
        </div>
      </div>
    </div>
    <!-- <div class="bottom-actions">
      <div style="width: 100%;">
        <button [disabled]="true" class="next-btn" aria-label="PROCESSING…">
          <span>PLEASE WAIT…</span>
        </button>
      </div>

    <div *ngIf="asset.asset.chain === 'BNB'" class="uni-input">
      <label>Memo (Optional)</label>
      <textarea [(ngModel)]="memo" name="memo" [disabled]="true"></textarea>
    </div>

    <div *ngIf="loading" style="height: 56px;" class="flex justify-center items-center w-full mt-4">
      <mat-progress-spinner mode="indeterminate" diameter="30"></mat-progress-spinner>
    </div>
    <div class="bottom-actions" *ngIf="(mode === 'SUCCESS' && asset) || mode === 'ERROR'">
      <div style="width: 100%;">
        <button class="close-btn" aria-label="CLOSE" (click)="mode === 'SUCCESS' ? close.emit() : back.emit()">
          <span>close</span>
        </button>
      </div>
    </div> -->
    <!-- <button (click)="submitTransaction()" mat-flat-button color="primary" class="main-action-btn w-full" [disabled]="insufficientChainBalance">
      <span *ngIf="insufficientChainBalance">Insufficient {{asset.asset.chain}}</span>
      <span *ngIf="!insufficientChainBalance">Send {{asset.asset.ticker}}</span>
    </button> -->
  </div>
</div>

<app-transaction-processing-modal
  *ngIf="txState === 'SUBMITTING' && asset"
  [isSending]="true"
  [label]="[translate.format('pending.sending')]"
  [asset]="[asset]"
  [amount]="[amount]"
  [memo]="memo"
  [recipientAddress]="recipientAddress"
  type="Send"
>
  <app-breadcrumb
    [path]="[
      { name: 'common.skip', call: 'swap' },
      { name: 'common.wallet', call: 'wallet' },
      { name: asset.asset.chain, call: 'chain' },
      { name: asset.asset.chain + '.' + asset.asset.ticker, call: 'asset' },
      { name: 'common.send', disable: true }
    ]"
    [message]="translate.format('common.processing')"
    (funcCaller)="breadcrumbNav($event, 'processing')"
  ></app-breadcrumb>
</app-transaction-processing-modal>

<app-transaction-success-modal
  *ngIf="txState === 'SUCCESS' && asset"
  [data]="getSuccessData()"
  (closeDialog)="close.emit()"
  [recipientAddress]="recipientAddress"
>
  <app-breadcrumb
    [path]="[
      { name: 'common.skip', call: 'swap' },
      { name: 'common.wallet', call: 'wallet' },
      { name: asset.asset.chain, call: 'chain' },
      { name: asset.asset.chain + '.' + asset.asset.ticker, call: 'asset' },
      { name: 'common.send', disable: true }
    ]"
    [message]="translate.format('common.success')"
    (funcCaller)="breadcrumbNav($event, 'success')"
  ></app-breadcrumb>
</app-transaction-success-modal>

<!-- <div *ngIf="txState === 'ERROR'" class="flex flex-col items-center py-8 text-sm">
  <mat-icon>warning</mat-icon>
  There was an error sending.<br />
  {{error}}
</div> -->
