.isMobile {
  &.background-container {
    position: relative;
    min-width: initial !important;   
  }

  main {
    display: block;
    width: 100%;

    .container-wrapper {
      width: 100%;
      background-color: var(--primary-grey-background);

      .container {
        width: 100%;
        height: 100%;
        padding: 15px;

        .main-content, .long-content {
          height: calc(100vh - 218.25px); /* this is the initial calculation */
          overflow: auto;
          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */

          .uni-input {
            &--file {
              justify-content: flex-start;
              padding-left: 15px;
            }

            span {
              text-align: left;
            }
          }

          &::-webkit-scrollbar {
            display: none;
          }
        }

        /* Withdraw section */
        .percent-container {
          padding: 15px;
        }

        .long-content {
          height: calc(100vh - 151.25px); /* this is the initial calculation */
          flex-direction: column;
          display: flex;

          .wallets {
            height: auto;
            flex: 1 1 0px;
          }
        }

        .content-top {
          height: 30px;
          margin-bottom: 18.25px;
        }

        .arrow-container {
          height: 55px;
        }

        .swap-details {
          padding: 0 15px;
        }

        .content-middle-lower {
          flex-direction: column-reverse;

          .right-content,
          .left-content {
            display: block;
          }
        }

      }

      .bottom-actions {
        position: absolute;
        padding: 15px;
        bottom: 65px !important;
        background-color: #000b12;
      }

      .overlay-container {
        position: fixed;
        border-radius: 20px;
        width: 100%;
        top: 0;
        left: 0;

        .bottom-actions {
          padding: 15px;
        }

        .overlay-container-wrapper {
          height: 100vh;
        }
        
        &.overlay-connect-wallet {
          position: absolute;
          border-radius: 20px;
          width: 100%;
          padding: 15px;
        }

        .inner-container {
          top: 0;
          left: 0;
          position: absolute;
          border-radius: 20px;
          width: 100%;
          padding: 15px;
        }

        .bottom-actions {
          position: absolute;
          bottom: 65px !important;
          background-color: #000b12;
        }

        .keystore-content {
          height: 100%;
          overflow: auto;
          -ms-overflow-style: none; /* IE and Edge */
          scrollbar-width: none; /* Firefox */

          &::-webkit-scrollbar {
            display: none;
          }
        }
      }

      .uni-input.swap-input {
        height: 140px;
        padding: 10px;

        .usd-est {
          font-size: 11px;
        }

        .priceInput {
          font-size: 30px !important;
        }

        .middle-bar {
          margin-top: 6px;
          margin-bottom: 16px;
        }

        .target-address {
          right: 10px;
          height: 30px;
          bottom: 10px;
        }
      }
    }
  }

  .wallets,
  .transactions,
  .lists {
    height: 520px;

    .w-address {
      .addr, .icon-addr {
        min-width: auto !important;

      }

      .addr span {
        font-size: 14px;
      }
    }
  }

  .asset-list-container {
    &.safari-full {
      height: 100% !important;
    }

    &.safari-semi {
      height: 100% !important;
    }
  }
  

  .lists-wrapper {
    .short {
      height: 470px;

      &--pool {
        height: 360px !important;
      }
    }
  }
}
