<div class="container">
  <div class="content-top">
    <app-breadcrumb
      [path]="[
        { name: 'common.skip', swapView: 'Swap', mainView: 'Swap' },
        { name: 'common.settings', backFunc: true },
        { name: 'common.seed', disable: true }
      ]"
      [message]="
        passwordAccepted
          ? translate.format('breadcrumb.store')
          : keystoreError
          ? translate.format('breadcrumb.incorrectPass')
          : keystorePassword
          ? translate.format('breadcrumb.ready')
          : translate.format('breadcrumb.enterPass')
      "
      (backFunc)="close.emit()"
      [isError]="keystoreError"
    ></app-breadcrumb>
    <div class="top-right"></div>
  </div>
  <div *ngIf="!passwordAccepted">
    <div mat-dialog-content>
      <app-text-field
        [(textOfField)]="keystorePassword"
        mode="Single"
        selectedType="Password"
        [label]="translate.format('common.password')"
        name="keystore-password"
      ></app-text-field>
    </div>

    <!-- close dialog -->
    <div class="bottom-actions two-btn">
      <div class="left-btn">
        <button
          class="close-btn"
          [disabled]="keystoreConnecting"
          (click)="close.emit()"
        >
          <span>{{ 'common.cancel' | translate }}</span>
        </button>
      </div>
      <div class="divider"></div>
      <div class="right-btn">
        <button
          class="next-btn"
          [disabled]="!keystorePassword || keystoreConnecting"
          (click)="unlock()"
        >
          <span *ngIf="!keystoreConnecting">{{ 'settings.show' | translate }}</span>
          <span *ngIf="keystoreConnecting">{{ 'settings.connecting' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="passwordAccepted">
    <div mat-dialog-content>
      <app-phrase-words-list [phrase]="phrase"></app-phrase-words-list>
    </div>

    <div class="descriptive" style="color: var(--primary-red);" [innerHtml]="'settings.seedDescriptive' | translate"></div>

    <div class="bottom-actions two-btn">
      <div class="left-btn">
        <button class="close-btn" (click)="close.emit()">
          <span>{{ 'common.close' | translate }}</span>
        </button>
      </div>
      <div class="divider"></div>
      <div class="right-btn" (click)="copyToClipboard()">
        <button class="next-btn" [disabled]="copied">
          <span *ngIf="!copied">{{ 'common.copy' | translate }}</span>
          <span *ngIf="copied">{{ 'common.copied' | translate }}</span>
        </button>
      </div>
    </div>
  </div>
</div>
